<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
    {% include head.html %}
    {% if page.home != true %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: false,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="{{ "css/lib/jquery.dataTables.css" }}">
    <script type="text/javascript" charset="utf8" src="{{ "js/lib/jquery.dataTables.js" }}"></script>
    <script>
        $(document).ready(function(){

            $('table.datatable').DataTable( {
                        paging: false,
                        stateSave: true
                    }
            );
    </script>
    {% endif %}
    {% endif %}

</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">&nbsp;</div>
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
     {% if page.home != true %}   
          {% include sidebar.html %}
     {% endif %}
    <!-- Content Column -->

        <div class="col-md-9">
            {{content}}
        </div>
    <!-- /.row -->
</div>
<!-- /.container -->
    </div>

</body>
</html>
